In [116]:
import pandas as pd
import numpy as np

df = pd.read_csv(r'C:\Users\90536\Downloads\mercedes-benz-greener-manufacturing\train.csv\train.csv' )
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [117]:
data = df.loc[: , ["X1" , "X2" , "X3"]]
data.head()

  X1  X2 X3
0  v  at  a
1  t  av  e
2  w   n  c
3  t   n  f
4  v   n  f

In [118]:
unique_characters = []
for col in data.columns:
    print("For {} column unique values are: ".format(col))
    print(data[col].unique())
    unique_characters.append(len(data[col].unique()))
unique_characters

For X1 column unique values are:
['v' 't' 'w' 'b' 'r' 'l' 's' 'aa' 'c' 'a' 'e' 'h' 'z' 'j' 'o' 'u' 'p' 'n'
 'i' 'y' 'd' 'f' 'm' 'k' 'g' 'q' 'ab']
For X2 column unique values are:
['at' 'av' 'n' 'e' 'as' 'aq' 'r' 'ai' 'ak' 'm' 'a' 'k' 'ae' 's' 'f' 'd'
 'ag' 'ay' 'ac' 'ap' 'g' 'i' 'aw' 'y' 'b' 'ao' 'al' 'h' 'x' 'au' 't' 'an'
 'z' 'ah' 'p' 'am' 'j' 'q' 'af' 'l' 'aa' 'c' 'o' 'ar']
For X3 column unique values are:
['a' 'e' 'c' 'f' 'd' 'b' 'g']

[27, 44, 7]

In [119]:
 
data.shape

(4209, 3)

In [120]:
#If we apply ONE HOT ENCODING on X1 Column then we will get 26 features instead of only ONE FEATURE
pd.get_dummies(data["X1"] , drop_first = True).shape

(4209, 26)

In [121]:
#If we apply ONE HOT ENCODING on it then we will get
pd.get_dummies(data , drop_first = True).shape

(4209, 75)

# FROM 3 FEATURES, We went to 75 Features which is not good computationally and accuracy wise for ml models

# So, Try to Find any other Method... other than one hot encoding on ALL feature

In [122]:
#Finding the MOST FREQUENT OCCURING VALUES of a FEATURE let say X2 Feature

In [123]:
data["X2"].value_counts().sort_values(ascending = False ).head(10).index

Index(['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e'], dtype='object')

In [124]:
data["X2"].value_counts().sort_values(ascending = False ).head(10).values

array([1659,  496,  415,  367,  265,  153,  137,   94,   87,   81],
      dtype=int64)

In [125]:
top10labelsofX2 = [y for y in data["X2"].value_counts().sort_values(ascending = False ).head(10).index]
top10labelsofX2

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

In [126]:

def one_hot_encoding_top_x(df, variable, top_x_labels):
    # function to create the dummy variables for the most frequent labels
    # we can vary the number of most frequent labels that we encode
    
    for label in top_x_labels:
        df[variable+"_"+label] = np.where(df[variable] == label , 1 , 0)

In [127]:
df = pd.read_csv(r'C:\Users\90536\Downloads\mercedes-benz-greener-manufacturing\train.csv\train.csv' )
df = df.loc[: , ["X1" , "X2" , "X3"]]
# encode X2 into the 10 most frequent categories
one_hot_encoding_top_x(df, 'X2', top10labelsofX2)
df.head()

  X1  X2 X3  X2_as  X2_ae  X2_ai  X2_m  X2_ak  X2_r  X2_n  X2_s  X2_f  X2_e
0  v  at  a      0      0      0     0      0     0     0     0     0     0
1  t  av  e      0      0      0     0      0     0     0     0     0     0
2  w   n  c      0      0      0     0      0     0     1     0     0     0
3  t   n  f      0      0      0     0      0     0     1     0     0     0
4  v   n  f      0      0      0     0      0     0     1     0     0     0

In [128]:
data["X1"].value_counts().sort_values(ascending = False )

aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
w      52
z      46
u      37
e      33
m      32
t      31
h      29
f      23
y      23
j      22
n      19
k      17
p       9
g       6
q       3
d       3
ab      3
Name: X1, dtype: int64

In [129]:
top10labelsofX1 = [y for y in data["X1"].value_counts().sort_values(ascending = False ).head(10).index]
top10labelsofX1

['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o']

In [149]:
one_hot_encoding_top_x(df, 'X1', top10labelsofX1)
data.head()

  X1  X2 X3
0  v  at  a
1  t  av  e
2  w   n  c
3  t   n  f
4  v   n  f

# HIGH CARDINALITY

Categorical Variables having HUGE NUMBER OF MULTIPLE LABELS then we call that HIGH CARDINALITY.

***SOLUTION 1 : Use ONE HOT ENCODING***

But it will MAKE THE DIMENSION SPACE VERY LARGE and We will have HUGE NUMBER OF FEATURES from a SINGLE FEATURE(HIGH CARDINALITY FEATURE).

***SOLUTION 2:***
Take ONLY MOST FREQUENT/OCCURING Labels FROM (High Cardinality Feature). and Encode it as SHOWN in ABOVE EXAMPLE


***SOLUTION 3:***
To replace EACH LABEL ,of the HIGH CARDINALITY FEATURE , with NUMBER OF TIME it occured.

In [150]:
data.X2.value_counts().to_dict()

{'as': 1659,
 'ae': 496,
 'ai': 415,
 'm': 367,
 'ak': 265,
 'r': 153,
 'n': 137,
 's': 94,
 'f': 87,
 'e': 81,
 'aq': 63,
 'ay': 54,
 'a': 47,
 't': 29,
 'k': 25,
 'i': 25,
 'b': 21,
 'ao': 20,
 'ag': 19,
 'z': 19,
 'd': 18,
 'ac': 13,
 'g': 12,
 'ap': 11,
 'y': 11,
 'x': 10,
 'aw': 8,
 'at': 6,
 'h': 6,
 'al': 5,
 'an': 5,
 'q': 5,
 'av': 4,
 'ah': 4,
 'p': 4,
 'au': 3,
 'ar': 1,
 'o': 1,
 'af': 1,
 'c': 1,
 'l': 1,
 'am': 1,
 'aa': 1,
 'j': 1}

In [151]:
data["X2"].head(10)

0    at
1    av
2     n
3     n
4     n
5     e
6     e
7    as
8    as
9    aq
Name: X2, dtype: object

In [152]:
# first we make a dictionary that maps each label to the counts
df_frequency_map = data.X2.value_counts().to_dict()

In [154]:

# Now we replace X2 labels in the dataset df
data.X2 = data.X2.map(df_frequency_map)

#df.head()

In [156]:
#Another method to MAP values to frequency using loop
i = 0 
for j,value in enumerate(data.X2):
    
    for key in d.keys():
        
        
        
        if value == key:
            
            data["X2"].replace({data.loc[j, "X2"] , d[key]} , inplace = True)
            #print(d[key])

data.head(10)

  X1    X2 X3
0  v     6  a
1  t     4  e
2  w   137  c
3  t   137  f
4  v   137  f
5  b    81  c
6  r    81  f
7  l  1659  f
8  s  1659  e
9  b    63  c

In [157]:
data.shape

(4209, 3)

# We have changed X2 Column (From High Cardinality Categorical Feature to Numerical Feature wrt FREQUENCY of EACH LABEL in it )

***Disadvantages***
If some of the labels have the same count, then they will be replaced with the same count and they will LOOSE VALUABLE INFORMATION.
2 Adds somewhat arbitrary numbers, and therefore weights to the different labels, that may not be related to their predictive power

# ORDINAL CATEGORICAL Features:


***Day of Week ***
***months***
***Ranking like FIRST , SECOND , ...... ***
***UNIVERSITY , COLLEGE , SCHOOL***

# ALL OF THESE ARE ***ORDINAL CATEGORICAL FEATURES***

In [158]:
import pandas as pd
import datetime

In [160]:
datetime_today = datetime.datetime.today()

datetime_today

datetime.datetime(2021, 3, 14, 13, 58, 25, 155960)

# Converting ORDINAL FEATURES to NUMERICAL

In [165]:
df_date_list = [datetime_today - datetime.timedelta(days=x) for x in range(0, 20)]
df = pd.DataFrame(df_date_list)
df.columns = ['day']
df

                          day
0  2021-03-14 13:58:25.155960
1  2021-03-13 13:58:25.155960
2  2021-03-12 13:58:25.155960
3  2021-03-11 13:58:25.155960
4  2021-03-10 13:58:25.155960
5  2021-03-09 13:58:25.155960
6  2021-03-08 13:58:25.155960
7  2021-03-07 13:58:25.155960
8  2021-03-06 13:58:25.155960
9  2021-03-05 13:58:25.155960
10 2021-03-04 13:58:25.155960
11 2021-03-03 13:58:25.155960
12 2021-03-02 13:58:25.155960
13 2021-03-01 13:58:25.155960
14 2021-02-28 13:58:25.155960
15 2021-02-27 13:58:25.155960
16 2021-02-26 13:58:25.155960
17 2021-02-25 13:58:25.155960
18 2021-02-24 13:58:25.155960
19 2021-02-23 13:58:25.155960

In [169]:
# extract the week day name

df['day_of_week'] = df['day'].dt.day_name()
df.head(8)

                         day day_of_week
0 2021-03-14 13:58:25.155960      Sunday
1 2021-03-13 13:58:25.155960    Saturday
2 2021-03-12 13:58:25.155960      Friday
3 2021-03-11 13:58:25.155960    Thursday
4 2021-03-10 13:58:25.155960   Wednesday
5 2021-03-09 13:58:25.155960     Tuesday
6 2021-03-08 13:58:25.155960      Monday
7 2021-03-07 13:58:25.155960      Sunday

In [172]:
week_day_mapping = {"Monday" : 1 , "Tuesday": 2 , "Wednesday" : 3 , "Thursday" : 4 , "Friday" : 5 , "Saturday" : 6 ,"Sunday":7 }

In [173]:
df["day_ordinal"] = df.day_of_week.map(week_day_mapping)
df.head(10)

                         day day_of_week  day_ordinal
0 2021-03-14 13:58:25.155960      Sunday            7
1 2021-03-13 13:58:25.155960    Saturday            6
2 2021-03-12 13:58:25.155960      Friday            5
3 2021-03-11 13:58:25.155960    Thursday            4
4 2021-03-10 13:58:25.155960   Wednesday            3
5 2021-03-09 13:58:25.155960     Tuesday            2
6 2021-03-08 13:58:25.155960      Monday            1
7 2021-03-07 13:58:25.155960      Sunday            7
8 2021-03-06 13:58:25.155960    Saturday            6
9 2021-03-05 13:58:25.155960      Friday            5